1.write a pyton program to print "hello world"

In [5]:
print("hello_world")

hello_world

2.write a pyton program that display your name and age.

In [15]:
Name="gurwinder"
Age=22
print("Name:",Name)
print("Age:",Age)

Name: gurwinder
Age: 22

3.write a code to print all the predefined keywords in pyton using the keyword libary.

In [29]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

4.write a program that checks if a given word is a pyton keyword.

In [45]:
import keyword
print(keyword.iskeyword("guri"))
print(keyword.iskeyword("and"))

False
True

5.write a list and tuple in pyton and demonstrate how attempting to change an element works differently for each.

In [59]:
list=[1,3,4,5]
list

[1, 3, 4, 5]

here if i want to change

In [61]:
list[1]=7
list

[1, 7, 4, 5]

now u see i change 3 with 7 because list are mutable

In [63]:
tuple=(1,2,3,4)
tuple

(1, 2, 3, 4)

now if i try to change in tuple i will get error because tuple is imutable

In [65]:
tuple[1]=8
tuple

TypeError: 'tuple' object does not support item assignment

see i face this error

question 6 and 7 are same

8.write a program to demonstrate the use of logical operator

In [71]:
a = 5
b = 10 
c = 15
a<b and c>a

True

now using or

In [73]:
a>b or c>b

True

9.write a program to convert user input from string to integer,float and boolyn type.

In [83]:
a = ("5")
type(a)

str

In [101]:
int(a)

5

In [103]:
float(a)

5.0

In [105]:
bool(a)

True

like above u see i coverted strin into all integer,float,boolyn type

10.write a code to demonstrate type casting with list elements.

In [137]:
list=["1","2",3,4]
list[0]=int(list[0])
list[1]=int(list[0])
list

[1, 1, 3, 4]

here we do type casting with list elements

11.write a program which check if a number is positive,negative or zero

In [139]:
a = 5
b = 10
if a<b:
    print("the number is positive")
elif a>b:
    print("the number is negative")
else:
    print("the number is zero")

the number is positive

12.write a loop to print number from 1 to 10.

In [1]:
n = 11
i = 1
while i<n:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

13.write a program to find the sum of all even number between 1 to 50

In [3]:
sum(range(2,51,2))

650

14.write a program to reverse a string using a while loop.

In [5]:
string = "gurwinder"
rev_str = ""
length = len(string)-1
while length >=0:
    rev_str += string [length]
    length -=1
print(rev_str)

redniwrug

15.write a pyton program to calculate the factorial of a number provided by the user using a while loop

In [ ]:
num=int(input("enter the number:"))
fact=1
for i in range(1,num+1):
    fact=fact*i
print